<%- include('header') %>
<h2> Página Administrativa | Criar Vaga </h2>


<form method="POST">
    <label for="">Titulo</label>
    <input type="text" name="titulo">

    <label for="">Categoria</label>
    <select name="" id="">
        <% categorias.forEach( categoria => { %>
        <option value="<%- categoria.id %>">
            <%= categoria.categoria %>
        </option>
        <% }) %>
    </select>

    <label for="">Descricao</label>
    <textarea type="text" name="descricao" ></textarea>
    
    <button> Salvar vaga</button>
</form>
<%- include('footer') %>