<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BonJobs | Admin de Vagas</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/custom.css">
</head>
<body>

<header>
  <a href="/">
 <img 
    src="/images/logo.png" 
    alt="Bonjobs - Plataformas de empregos"
    title="BonJobs"
    width="20%">
 <p>Painel de vagas do Bonja</p>
</a>
</header>