<%- include('header') %>
<h2> Página Administrativa | BonJobs </h2>
<nav>
    <ul> 
        <li> <a href="/admin/categorias"> Gerenciar categorias</a></li>
        <li> <a href="/admin/vagas"> Gerenciar vagas</a></li>
    </ul>
</nav>
<%- include('footer') %>