<%- include('header') %>
<h2> Página Administrativa | BonJobs </h2>
<nav>
    <ul> 
        <li> 
            <a href="/admin"> 
                Retornar para Painel Administrativo
            </a>
        </li>
        <li> 
            <a href="/admin/vagas/nova">Adicionar Nova vaga</a>
        </li>
    </ul>
</nav>

<section>
<h2> Vagas em aberto:</h2>
<table>
    <thead>
        <tr> 
            <th> Título</th>
            <th> Ações </th>
        </tr>
    </thead>

    <tbody>
        <% vagas.forEach(vaga => { %>
        <tr>
            <td>  <%- vaga.titulo %> </td>
            <td> 
              <a href="/admin/vagas/delete/<%- vaga.id %>"> Excluir </a>
            </td>
        </tr>
        <%})%>
    </tbody> 
</table>
</section>
<%- include('footer') %>