<%- include('header') %>
<%- include('menu') %>

<section>
    <div>
     <% categorias.forEach(categoria => { %>
       <h4> <%- categoria.categoria %> </h4>    
     <ul>
      <% categoria.vagas.forEach( vaga => { %>
         <li>
            <a href="vaga/<%- vaga.id %>"> <%- vaga.titulo %> </a> 
        </li>
      <% }) %>
     </ul>
     <% })  %>
    </div>
  
</section>



<%- include('footer') %>