* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

header {
    text-align: center;
    padding: 20px;
}
h3 {
    background: #2c3e50;
    color: #95a5a6;
    padding:10px;
}

ul {
    list-style: none;
    padding: 10px 0 10px 0;
}

li {
    padding-left:20px;
}